<!--フォロー一覧-->
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h4>フォロ一覧</h4>
    </div>
  </div>
</div>

<% if @users.present? %>
  <%= render 'users/index', users: @users %>
<% else %>
  <p class="text-center">フォローしてるユーザーはいません</p>
<% end %>