<!--いいねした投稿の一覧-->
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h4>お気に入り投稿一覧</h4>
    </div>
  </div>
</div>
<!--投稿一覧の部分テンプレート呼び出し-->
<%= render 'posts/index', posts: @favorite_posts %>
<!-- お気に入り投稿が空の場合にメッセージを表示 -->
<% if @favorite_posts.empty? %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <p>お気に入りの投稿はまだありません</p>
      </div>
    </div>
  </div>
<% end %>