<div class="container my-auto">

  <div class="row justify-content-center">
    <div class="col-md-8">
      <% if flash[:notice].present? %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto mt-5 text-center">
      <h2><strong>「いきものとくらす」</strong></h2>
      <h5><strong>生き物</strong>が好きな人たちが集まり、気軽に投稿や情報交換ができるSNS</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 mx-auto mt-5 my-5">
      <div class="btn-wrapper col-8 mx-auto">
        <div class="row">
          <% unless user_signed_in? %>
            <%= link_to "簡単ログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
            <%= link_to "ユーザー登録", new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 mx-auto mt-3 text-center">
      <p>登録、ログインせずに気軽に閲覧できます</p>
      <p>新規投稿などの閲覧以外の機能は登録、ログインが必要です</p>
    </div>
  </div>

</div>