<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-8">
      <% if flash[:notice].present? %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 mx-auto mt-5 text-center">
      <h3><strong>「いきものとくらす」</strong></h3>
      <p><strong>生き物</strong>が好きな人たちが集まり、気軽に投稿や情報交換ができるSNS</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 mx-auto mt-5">

      <div class="btn-wrapper col-8 mx-auto">
        <div class="row">
          <%= link_to "簡単ログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to "ログイン",new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to "ユーザー登録",new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>

    </div>
  </div>

</div>
