<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-light bg-dark py-4 mb-0">ユーザーログイン</h5>
      <div class="form-body bg-light p-4">
        <div class="mx-auto text-center">
          <p>メールアドレスとパスワードを入力してください</p>
        </div>
        <hr>
        <%= form_with model: @user, url: user_session_path do |f| %>
          <div class="input-group mb-3">
            <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス", autofocus: true %>
          </div>
          <div class="input-group mb-3">
            <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
          </div>
          <%= f.submit "ログイン", class: "btn btn-lg btn-block btn-info mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
