@use '~bootstrap/scss/bootstrap';

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

.contents {
  background-image: url('../images/27188092_s.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

// 投稿詳細ページ　コメント一覧スクロール用
.comment-container {
  max-height: 500px;
  overflow-y: auto;
}