<!--検索結果一覧-->
<% if @range == "ユーザー" %>

  <h3>"<%= @word %>"でユーザーを検索しました</h3>
  <% if @users.present? %>
    <%= render 'users/index', users: @users %>
  <% else %>
    <p style="text-align: center; font-weight: bold;">該当するユーザーは見つかりませんでした</p>
  <% end %>

<% else %>

  <h3>"<%= @word %>"で投稿を検索しました</h3>
  <% if @posts.present? %>
    <%= render 'posts/index', posts: @posts %>
  <% else %>
    <p style="text-align: center; font-weight: bold;">該当する投稿は見つかりませんでした</p>
  <% end %>

<% end %>
